@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app-container"
     asp-prerender-module="ClientApp/dist/main-server"
     asp-prerender-data="new {
        isMobile = @ViewData["Mobile"],
        user = @ViewData["User"],
        xpt = @ViewData["xpt"]
}">
    <div id="react-app-styles"></div>
    <div id="react-app"></div>
</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
